@import '../theme';

.fatalError {
  $doubleAppMargin: 2*$appMargin;
  overflow: hidden;
  min-height: calc(100vh - #{$doubleAppMargin});
  margin: $appMargin;
  position: relative;
  background: $cMainBg;
  text-align: center;

  &-message {
    font-size: 3.6rem;
    color: $pallet6;
    margin: $basePadding*2;
  }

  &-refresh {
    @include themeBtn();
    outline: 0.1rem solid $pallet6 !important;


  }
}
