@import '../theme';
@import '../mixins';

.meter {
  @mixin meterBase() {
    background: none; // Required to get rid of the default background prop.
    background-color: $pallet0;
  }

  @mixin meterBar() {
    background: $pallet11;
    overflow: hidden;
    line-height: 99em;
    display: inline-block;
  }

  @include meterBase();

  display: block;
  overflow: hidden;
  margin: 0 auto;
  text-align: left;

  width: 100%;
  height: 1rem;

  appearance: none;

  border: 1px solid $pallet6;

  //the base?
  &::-webkit-meter-bar {
    @include meterBase();
  }



  //the bar
  &-bar {
    @include meterBar();
  }

  &::-moz-meter-bar {
    @include meterBar();
  }

  &_full {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;


    @mixin fullMeterBase() {
      background: none; // Required to get rid of the default background prop.
      border: 0;
    }

    @mixin fullMeterBar() {
      background: rgba($pallet27, 0.2);
      overflow: hidden;
      line-height: 99em;
      display: inline-block;
      border: 0;
      border-bottom: 0.1rem solid $pallet27;

      @include modifyBEMSelector((modifiers: (colour: 'orange'))) {
        background: rgba($pallet28, 0.2);
        border-bottom: 0.1rem solid $pallet28;
      }

      @include modifyBEMSelector((modifiers: (colour: 'blue'))) {
        background: rgba($pallet29, 0.2);
        border-bottom: 0.1rem solid $pallet29;
      }
    }

    @include fullMeterBase();

    //the base?

    &::-webkit-meter-bar {
      @include fullMeterBase();
    }

    @include modifyBEMSelector((element: '&-gauge')) {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
    }

    //the bar
    @include modifyBEMSelector((element: '&-bar')) {
      @include fullMeterBar();
    }

    &::-moz-meter-bar {
      @include fullMeterBar();
    }
  }
}
