@import '../theme';

.pagination {
  margin: 0 -0.1rem -0.1rem;
  color: #FFF;
  border-bottom: 0.2rem solid $pallet6;
  vertical-align: top;

  $minWidth: 3.0rem;

  &-prev,
  &-next,
  &-page {
    @include themeBlockInteraction();

    font-size: 1.65rem;
    line-height: 2.5rem;
    border: 0;
    background: transparent;
    padding: $basePadding/4 $basePadding/2;
    min-width: $minWidth;
    text-align: center;
    display: inline-block;
    margin: 0 0;
    vertical-align: middle;

    color: $pallet4;

    &_disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &_current {
      background: transparent;
      background: $pallet0;

      &:hover {
        background: transparent;
        background: $pallet0;
      }
    }
  }

  &-prev,
  &-next {
    font-size: 1.8rem;
  }

  &-spacer {
    color: $pallet4;
    font-size: 1.9rem;
    margin: 0 $basePadding*0.25;
    //min-width: $minWidth;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
  }
}
