@import '../theme';

.panel {
  background: $pallet0;
  border-bottom: 0.5rem solid $pallet4;
  font-size: 2rem;
  display: flex;
  flex-flow: column;

  text-decoration: none;
  color: inherit;

  @at-root {
    a#{&} {
      @include themeBlockInteraction();
    }
  }

  &_theme_dark {
    background: $pallet25;
  }

  &_theme_dashboard {
    background: $pallet25;
  }

  &_fullHeight {
    height: 100%;
  }

  &-title {
    padding: $basePadding * 0.5;
    border-bottom: 0.1rem solid $pallet25;
    line-height: 1;
    font-size: 1.45rem;
    font-weight: bold;

    &_theme_dark {
      font-weight: bold;
      border-bottom-color: #a6a6a6;
    }

    &_theme_dashboard {
      font-weight: bold;
      border-bottom-color: $pallet26;
      font-weight: normal;
      font-size: 1.8rem;
    }

    &_theme_tabs {
      border-left: 0.1rem solid $pallet24;
      border-right: 0.1rem solid $pallet24;
      border-top: 0.2rem solid $pallet4;
      border-bottom: 0;
      background: $pallet25;
      padding: (($basePadding/2) + 0.3rem) $basePadding (($basePadding/2) - 0.3rem);
      font-size: 1.65rem;
      font-weight: normal;
    }
  }

  &-body {
    padding: $basePadding/2 $basePadding/2 $basePadding;
    line-height: 1.2;
    position: relative;
    flex-grow: 1;

    &_stretchContents {
      display: flex;
      align-items: stretch;
      flex-flow: row wrap;
    }

    &_valign_bottom {
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
    }

    &_theme_tabs {
      border-left: 0.1rem solid $pallet24;
      border-right: 0.1rem solid $pallet24;
      box-shadow: inset 0 0 0 0.8rem $pallet25;
      padding: $basePadding;
    }
  }
}
