@import '../theme';

.searchBox {
  padding: $basePadding/2;
  background: $pallet25;
  border-bottom: 0.2rem solid $pallet6;

  &_fullHeight {
    height: 100%;
  }

  &-label {
    font-size: 1.3rem;
    display: block;
    padding-bottom: $basePadding/2;
  }
}
