@import '../theme';

$fadeRevealTime: 0.25s;
$slideRevealTime: 0.25s;
$fadeHideTime: 0.25s;
$slideHideTime: 0.25s;

.verticalSlideAndFadeReveal {
  overflow: hidden;
  opacity: 0;

  &_state{
    &_closed {
      visibility: hidden;
      height: 0;
      opacity: 0;
    }

    &_opening {
      visibility: visible;
      opacity: 1;
      transition: height $slideRevealTime ease-in-out, opacity $fadeRevealTime linear $slideRevealTime;
    }

    &_open {
      visibility: visible;
      height: auto;
      opacity: 1;
    }

    &_closing {
      visibility: visible;
      opacity: 0;
      transition: opacity $fadeHideTime linear, height $slideHideTime ease-in-out $fadeHideTime;
    }
  }
}
