@import '../theme';

.verticalSlideReveal {
  overflow: hidden;

  $transitionTime: 0.2s;

  &_state{
    &_closed {
      visibility: hidden;
      height: 0;
    }

    &_opening {
      visibility: visible;
      transition: height $transitionTime ease-in-out;
    }

    &_open {
      visibility: visible;
      height: auto;
    }

    &_closing {
      visibility: visible;
      transition: height $transitionTime ease-in-out;
    }
  }
}
